@font-face {
    font-family: "mulish";
    src: url(../assets/fonts/Mulish/Mulish-VariableFont_wght.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.values{
    background-image: url(../assets/images/kunj-parekh-H69EgivmCjE-unsplash\ \(2\).jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid grey;
    height: calc(100vh - 20px);
    margin: 10px 10px 10px 10px;
}

/* Header */
header a {
    padding: 3px;
}
.arrow{
    display: flex;
    align-self: flex-start;

}
.arrow svg{
    width: 40px;
    height: 40px;
}

header a:hover{
    background-color: black;

}

header a svg:hover path{
    fill: white;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
header a{
    max-width: max-content;
    max-height: max-content;
}

.header-profile{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-pic{
    align-self: center;
    width: 148px;
    height: 150px;
    border: 1px solid black;
    border-radius: 80px;
}
/* MAIN */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > p:first-of-type{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

main p{
    font-size: 18px;
    font-family: "roboto";
    text-align: justify;
}

.paragrafo{
    height: max-content;
    width: 700px;
}

.paragrafo p {
    margin-bottom: 20px;
}

/* Footer */

footer p{
    color: white;
    font-family: "mulish";
    position: fixed;
    top: 95%;
    left: 44%;

}