@font-face {
    font-family: "mulish";
    src: url(../assets/fonts/Mulish/Mulish-VariableFont_wght.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.values{
    background-image: url(../assets/images/kunj-parekh-H69EgivmCjE-unsplash\ \(2\).jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    height: calc(100vh - 20px);
    margin: 10px 10px 10px 10px;
}

/* Header */
 header{
        padding: 10px;
}

.name{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

 h1 {
    font-family: "mulish";
    font-weight: 200;
    font-size: 60px;
}

.name h2 {
    font-family: "mulish";
    font-weight: 600;
    font-size: 20px;
    margin-left: 7px;
}

/* MAIN */

main .ul-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    font-family: "roboto";
    font-weight: 700;
    padding-left: 48px;
    list-style-type: none;
    font-size: 20px;
    margin-top: 100px;
}

main .ul-main li a {
    text-decoration: none;
    color: black;
    width: max-content;
}

main .ul-main li{
    display: inline-block;
    width: max-content;
}

/* Projetos ABA */

.projetos{
    width: 60px;
}
.mostrarMenuDireita{
    right: 0 !important;
    opacity: 1 !important;
}

.scroll{
    padding: 20px;
    position: relative;
    z-index: -1;
    overflow-y: auto;
    height: max-content;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

#projetos-tab .scroll a {
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    transition: box-shadow 0.5s;
}

#projetos-tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    opacity: 0;
    margin: 12px;
    position: fixed;
    z-index: 1;
    height: 97vh;
    right: -80%;
    top: 0;
    width: 71%;
    box-shadow: -0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255,255, 0.1));
    transition: right 0.9s, opacity 0.5s;
    backdrop-filter: blur(5px);
}


.scroll .a1::before{
    position: absolute;
    content: "";
    inset: 0;
    background-image: linear-gradient(to right, rgba(89, 89, 89, 0.7),rgba(187, 187, 187, 0.3));
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
    border-radius: 8px;
}
.scroll .a2::before{
    position: absolute;
    content: "";
    inset: 0;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.7),rgba(255, 0, 0, 0.3));
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
    border-radius: 8px;
}
.scroll .a3::before{
    position: absolute;
    content: "";
    inset: 0;
    background-image: linear-gradient(to right, rgba(27, 20, 38),rgba(27, 20, 38, 0.3));
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
    border-radius: 8px;
}
.scroll .a4::before{
    position: absolute;
    content: "";
    inset: 0;
    background-image: linear-gradient(to right, rgb(206, 255, 107),rgba(206, 255, 107, 0.3));
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
    border-radius: 8px;
}

#projetos-tab .scroll a:hover::before{
    opacity: 1;
}

.border-white{
    background-color: rgb(255, 255, 255);
    width: 10.5px;
    height: 97.3vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    margin-top: 10px;
    border-left: 1px solid grey;
}

.content-projetos{
    width: 100%;
}

.content-projetos1{
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    background: transparent;
}

.content-projetos2{
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    
}
.content-projetos3{
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
}
article img{
    position: relative;
    z-index: 3;
    border-radius: 8px;
    width: 250px;
    height: 100%;
    
}

.info-projetos h1{
    font-size: 36px;
}

.info-projetos p{
    font-size: 17px;
}

.info-projetos{
    color: black;
    margin-left: 20px;
    width: 600px;
}

.scroll a:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* INFO */

/* Contatos */

.contatos{
    width: 60px;
}

.contatos, .info, .projetos{
    position: relative;
    display: inline-block;
}

.socials {
    width: 200px;
    height: 44px;
    min-width: max-content;
    overflow: hidden;
    position: relative;
  }

.contatos-hover:hover,
.projetos:hover,
.info:hover{
    color: white;
    background-color: black;
    padding-left: 2px;
    padding-right: 2px;
}

.contatos:hover .socials > ul{
    top: -10px;
}

  .socials ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      width: 200px;
      justify-content: space-between;
      position: absolute;
      top: -100px;
      left: 0;
      transition: top 1.0s;
  }

  .socials ul li {
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 10px;
      margin: 10px 0px;  
    }

.socials ul li .fa-brands, 
.socials ul li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 25px;
    transition: all 0.1s ease-in;  
    z-index: 10;
  }

  .fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-github:hover {
    background: radial-gradient(circle at 30% 107%, #6e5494 0%, #6e5494 5%, #6e5494 45%, #6e5494 60%, #6e5494 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fa-linkedin:hover {
    background: radial-gradient(circle at 30% 107%, #0077b5 0%, #0077b5 5%, #0077b5 45%, #0077b5 60%, #0077b5 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fa-twitter:hover {
    background: radial-gradient(circle at 30% 107%, #1DA1F2 0%, #1DA1F2 5%, #1DA1F2 45%, #1DA1F2 60%, #1DA1F2 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .socials ul li:hover .fa, 
  .socials ul li:hover .fa-brands{ 
    font-size: 40px;
  }
  
footer p{
    color: white;
    font-family: "mulish";
    position: fixed;
    top: 95%;
    left: 44%;

}
